@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid maroon;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.header-content {
  text-align: center;
  width: 50%;
}

.btn {
  display: inline-block;
  background: maroon;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.avatar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.navigation {
  list-style-type: none;
  text-align: center;
}

.navigation li{
  display: inline;
}

.avatar-cropped{
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.gallery-image {
  display:block;
  align-items: center;
  margin-bottom: 20px;
  max-width: 75%;
  margin: 30px auto;
  overflow: auto;
  min-height: 500px;
  padding: 10px;
  text-align: center;
}

.gallery-cropped img {
  width: 500px; 
  height: 400px; 
  object-fit: cover;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(88, 87, 87);
  box-shadow: 5px 5px #dfdddb;
}


footer {
  margin-top: 30px;
  text-align: center;
}